<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="sourcePath" value="C:\软件\医保\"/>
    <add key="files" value="request.txt;reply.txt"/>
    <add key="host" value="\\192.168.1.1\soft\医保\error"/>
    <add key="username" value="Guest"/>
    <add key="password" value="2333"/>
    <add key="userID" value="001"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
