<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <!--sourcePath: 抓取文件的源目录,如：C:\软件\医保\-->
    <add key="sourcePath" value="C:\软件\医保\"/>
    
    <!--files: 抓取的文件名，文件名的英文字符为小写，多个文件名用英文分号隔开，如：request.txt;reply.txt-->
    <add key="files" value="request.txt"/>
    
    <!--flag: 共享文件夹模式(0), FTP服务器模式(1)-->
    <add key="flag" value="1"/>

    <!--(ftp)host: 服务器地址-->
    <add key="host" value="\\192.168.1.1\soft\医保\error"/>
    <add key="ftpHost" value="ftp://192.168.1.1"/>

    <!--访问共享文件夹用户名及密码-->
    <add key="username" value="Guest"/>
    <add key="password" value="2333"/>

    <!--访问FTP服务器用户名及密码-->
    <add key="ftpUsername" value="Guest"/>
    <add key="ftpPassword" value="2333"/>

    <!--userID: 用户标识-->
    <add key="userID" value="001"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
